apiVersion: v1
kind: ResourceQuota
metadata:
  name: osf-resource-quota
  namespace: osf
spec:
  hard:
    pods: "100"
    requests.cpu: "50"
    requests.memory: 100Gi
    limits.cpu: "100"
    limits.memory: 200Gi
    persistentvolumeclaims: "20"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: osf-limit-range
  namespace: osf
spec:
  limits:
    - type: Container
      default:
        cpu: 500m
        memory: 512Mi
      defaultRequest:
        cpu: 200m
        memory: 256Mi
      max:
        cpu: "2"
        memory: 4Gi
